<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>board</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="container">
		<h2>게시판 등록</h2>
		<form action="/main/board/write" method="post" enctype="multipart/form-data">
			<table class="board_detail">
				<tr>
					<td>제목</td>
					<td><input type="text" id="bSubject" name="bSubject" required></td>
				</tr>
				<tr>
					<td colspan="2"><textarea rows="5" cols="20" id="bContent"
							name="bContent" required></textarea></td>
				</tr>
			</table>
			<input type="file" id="files" name="files" multiple="multiple">
			<input type="submit" id="submit" value="저장" class="btn">
			<input type="button" class="btn" value="목록으로" onclick="location.href='/main/board'">
		</form>
	</div>
</body>
</html>